/*Add some CSS to fit the mock - https://trello.com/c/QJcQsdSv */
body {
  box-sizing: border-box;
}

header h1 {
  display: inline;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /*align-items: center;*/
  padding-left: 20px;
  padding-right: 16px;
}

body {
  background-color: #f0f4f7;
}

span {
  font-family: Avenir, sans-serif;
  font-size: 2rem;
}

.container {
  background-color: white;
  border-radius: 5px;
  max-width: 1300px;
  margin: 60px auto;
  width: 90vw;
}

/*styles stokr*/
.productName {
  width: 166px;
  height: 46px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
  margin: 44px 0;
}

/*layout related*/
.functionBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/*functionBar icons*/
.functionBar span {
  padding: 3px;
}
.functionBar img {
  margin: .8rem;
}

.stockList {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 16px;
  margin: 0;
}

.stockRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 34px 0;
  border-top: 1px solid #f0f4f7;
}

.stock-name {
  flex: 1 0 auto;
}

.stock-price,
.stock-Change

{
  flex: 0 1 auto;
}

.stock-price {
  margin-right: 1.5rem;
}

/*aligns right side stock content vertically*/
.stock-price,
.stock-Change,
.stock-name
{
  align-self: baseline;
}

/*aligns up and down arrows*/
.stock-position {
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
}

.arrows {
  height: 2rem;
}

/*font related*/
.stock-name {
  font-family: Avenir, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  color: #59737c;
}

.stock-price {
  font-family: HelveticaNeueW01-55Roman, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 2rem;
  text-align: left;
  color: #59737c;
}

.stock-Change {
  font-family: Avenir, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  /*color: #ffffff;*/
}

/*change color based on growing or shrinking value*/
.stock-Change{
  display: inline-block;
  border-radius: .75rem;
  padding: .5rem .5rem .5rem 2rem;
  width: 8rem;
}

.stock-Change[data-change="growing"]{
  background-color: #63da39;
}
.stock-Change[data-change="shrinking"]{
  background-color: #ff4f46;
}

/*filterPanel styling*/
.filterPanel {
  display: flex;
  flex-flow: column wrap;
  height: 10vw;
}
.filterPanel.formField {
  /*height: 50%;*/
  /*flex: 0 1 auto;*/
}

.filterPanel label {
  font-family: HelveticaNeueW01-55Roman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.filterPanel button {
  width: 9vw;
  height: 9vw;
  border-radius: 100%;
}
