/*Add some CSS to fit the mock - https://trello.com/c/QJcQsdSv */
body {
  box-sizing: border-box;
}

header h1 {
  display: inline;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /*align-items: center;*/
  padding-left: 20px;
  padding-right: 16px;
}

body {
  background-color: #f0f4f7;
}

.container {
  background-color: white;
  border-radius: 5px;
}

/*styles stokr*/
.productName {
  width: 166px;
  height: 46px;
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

/*layout related*/
.functionBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.functionBar span {
  padding: 3px;
}

.stockList {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 16px;
}

.stockRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.stock-name {
  flex: 1 0 auto;
}

.stock-price,
.stock-percentChange,
.stock-position
{
  flex: 0 1 auto;
}

/*aligns right side stock content vertically*/
.stock-price,
.stock-percentChange,
.stock-position,
.stock-position
{
  align-self: baseline;
}

/*font related*/
.stock-name {
  font-family: Avenir;
  /*font-size: 33px;*/
  font-weight: 300;
  text-align: left;
  color: #59737c;
}

.stock-price {
  font-family: HelveticaNeueW01-55Roman;
  /*font-size: 30px;*/
  text-align: left;
  color: #59737c;
}

.stock-percentChange {
  font-family: Avenir;
  /*font-size: 34px;*/
  font-weight: 300;
  text-align: center;
  /*color: #ffffff;*/
}
