/*Add some CSS to fit the mock - https://trello.com/c/QJcQsdSv */
body {
  box-sizing: border-box;
}

header h1 {
  display: inline;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /*align-items: center;*/
}

.productName {
  width: 166px;
  height: 46px;
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

.functionBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.functionBar span {
  padding: 3px;
}

.stockList {
  list-style: none;
  padding: 0;
  padding-left: 29px;
  padding-right: 16px;
}

.stockRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.stock-name {
  flex: 1 0 auto;
}

.stock-price,
.stock-percentChange,
.stock-position
{
  flex: 0 1 auto;
}
